* {
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(17, 17, 22);
	color: white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
  /* align-items: center;
  display: flex;
  justify-content: space-around; */
}

.navbar {
  background-color: rgba(180, 34, 102, 0.678);
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.navbar ul {
  width: 40%;
  list-style: none;
  align-items: center;
  display: flex;
  justify-content: space-around;
}